<ion-view view-title="Plats déjà servi">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="refresh()">
      Refresh
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="col">
      <div class="list">
        <div ng-repeat="order in servedDishes" class="item item-thumbnail-left"  ng-dblclick="cancelServed(order.id)">
          <h2>Product Name: {{ order.product.productName }}</h2>
          <h2>category Name: {{ order.category.name }}</h2>
          <h2>Table No: {{ order.turnover.tableId }}</h2>
          <h2>Count: {{order.count}}</h2>
          <div ng-repeat="oa in order.orderAttributions" class="item item-thumbnail-left">
            <h2>Attribution Name: {{ oa.attribution.attributionName }} * {{oa.count}}</h2>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
