<ion-view view-title="Plats déjà servi">
  <ion-nav-buttons side="right">
    <button class="button button-assertive" ng-click="refresh()">
      	<i class="ion ion-refresh"></i> Recharge {{t}}s
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-refresher
	pulling-text="Tirer pour recharger..."
	on-refresh="doRefresh()">
</ion-refresher>
      <div class="card">
        <div ng-repeat="orderProductGroup in servedDishes" class="item item-text-wrap"  ng-init="product=getProduct(orderProductGroup); order=orderProductGroup.order" ng-click="openServedModal(order.id, true, product.id)">

          					<div class="row">
          						<div class="col col-20">
          							<div class="text-big assertive">T-{{ order.turnover.tableId }}</div>
          						<hr>
          							<h2>{{order.created | date :"HH:mm"}} </h2>
          						</div>
          						<div class="col col-60">

          							<div class="text-big">{{order.count}} x	<span >{{ product.productName }}</span> </div>

          							<div class="row">
          								<div ng-repeat="oa in order.orderAttributions" >
          									<p>{{ oa.attribution.attributionName }}</p>
          								</div>
          							</div>
          						</div>
          						<div class="col col-20">
          								<h2 class=""> <small >{{ order.category.name }}</small></h2>
          								<hr>
          									<h2 class="light" ng-if="order.status >1"><span ng-repeat="t in getTimes(order.status) track by $index" class="energized"><i class="ion ion-alert"></i> </span></h2>
          						</div>

          					</div>
        </div>
      </div>

  </ion-content>
</ion-view>
