<ion-view view-title="Plats déjà servi">
  <ion-nav-buttons side="right">
    <button class="button button-assertive" ng-click="refresh()">
      	<i class="ion ion-refresh"></i> Recharge {{t}}s
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-refresher
	pulling-text="Tirer pour recharger..."
	on-refresh="doRefresh()">
</ion-refresher>
      <div class="card">
        <div ng-repeat="order in servedDishes" class="item item-text-wrap"  ng-click="openServedModal(order.id,true)">
          <div class="item item-divider ">
          {{order.count}} x	<span>{{ order.product.productName }}</span> - <small>{{ order.category.name }}</small>
          </div>
          <div class="row">
						<div class="col col-20">
							<h1 class="padding-top positive">T-{{ order.turnover.tableId }}</h1>
							<h2 class="padding-left">{{order.created | date :"HH:mm"}}</h2>
              <h2 class="padding-left">{{order.served | date :"HH:mm"}}</h2>
						</div>
						<div class="col col-80">
							<h2 class="assertive padding-left padding-top" ng-if="order.orderAttributions">Options: </h2>
							<div class="row">
								<div ng-repeat="oa in order.orderAttributions" class="col">
									<small>{{ oa.attribution.attributionName }}</small>
								</div>
							</div>
						</div>
					</div>
        </div>
      </div>

  </ion-content>
</ion-view>
