<ion-view view-title="List d'attente">
	<ion-nav-buttons side="right">
		<button class="button button-assertive" ng-click="refresh()">
			<i class="ion ion-refresh"></i> Recharge {{t}}s
		</button>
	</ion-nav-buttons>
	
	<div class="bar bar-subheader">
		<div class="row">
			<div class="col text-center ">
				<h3 class="assertive">
					<i class="ion ion-fireball"></i> Plats chauds
				</h3>
			</div>
			<div class="col text-center">
				<h3 class="positive">
					<i class="ion ion-ios-snowy"></i> Plats froids
				</h3>
			</div>
			<div class="col text-center">
				<h3 class="positive">
					<i class="ion ion-ios-snowy"></i> Combo
				</h3>
			</div>
		</div>
	</div>
	
	<ion-content class="has-header has-subheader"> 
		<ion-refresher pulling-text="Tirer pour recharger..." on-refresh="doRefresh()" />
		<div class="row">
			<div class="col">
				<div class="card">
					<div ng-repeat="order in hotDishes" class="item item-text-wrap" ng-click="openModal(order.id, false, order.product.type)">
						<div class="row">
							<div class="col col-20">
								<div class="text-big assertive">T-{{order.turnover.tableId}}</div>
								<hr>
								<h2>{{order.created | date :"HH:mm"}}</h2>
							</div>
							<div class="col col-60">
								<div class="text-big">
									{{order.count}} x <span>{{order.product.productName}}</span>
								</div>
								<div class="row">
									<div ng-repeat="oa in order.orderAttributions">
										<p>{{oa.attribution.attributionName}}</p>
									</div>
								</div>
							</div>
							<div class="col col-20">
								<h2 class="">
									<small>{{order.category.name}}</small>
								</h2>
								<hr>
								<h2 class="light" ng-if="order.status >1">
									<span ng-repeat="t in getTimes(order.status) track by $index" class="energized"> <i class="ion ion-alert"></i>
									</span>
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div ng-repeat="order in coldDishes" class="item item-text-wrap" ng-click="openModal(order.id, false, order.product.type)">
						<div class="row">
							<div class="col col-20">
								<div class="text-big positive">T-{{order.turnover.tableId}}</div>
								<hr>
								<h2>{{order.created | date :"HH:mm"}}</h2>
							</div>
							<div class="col col-60">
								<div class="text-big">
									{{order.count}} x <span>{{order.product.productName}}</span>
								</div>
								<div class="row">
									<div ng-repeat="oa in order.orderAttributions">
										<p>{{oa.attribution.attributionName}}</p>
									</div>
								</div>
							</div>
							<div class="col col-20">
								<h2 class="">
									<small>{{order.category.name}}</small>
								</h2>
								<hr>
								<h2 class="light" ng-if="order.status >1">
									<span ng-repeat="t in getTimes(order.status) track by $index" class="energized"><i class="ion ion-alert"></i> </span>
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div ng-repeat="order in combos" class="item item-text-wrap" ng-click="openModal(order.id, false, order.product.type)">
						<!-- ng-dblClick="hotDone(order.id)" -->
						<div class="row">
							<div class="col col-20">
								<div class="text-big assertive">T-{{order.turnover.tableId}}</div>
								<hr>
								<h2>{{order.created | date :"HH:mm"}}</h2>
							</div>
							<div class="col col-60">
								<div class="text-big">
									{{order.count}} x <span>{{order.product.productName}}</span>
								</div>
								<div class="row">
									<div ng-repeat="oa in order.orderAttributions">
										<p>{{oa.attribution.attributionName}}</p>
									</div>
								</div>
							</div>
							<div class="col col-20">
								<h2 class="">
									<small>{{order.category.name}}</small>
								</h2>
								<hr>
								<h2 class="light" ng-if="order.status >1">
									<span ng-repeat="t in getTimes(order.status) track by $index" class="energized"><i class="ion ion-alert"></i> </span>
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content> 
</ion-view>
