<ion-view view-title="List d'attente">
	<ion-nav-buttons side="right">
		<button class="button pull-right button-assertive" ng-click="refresh()">
			<i class="ion ion-refresh"></i> Refresh {{t}}s
		</button>
	</ion-nav-buttons>

		<div class="bar bar-subheader">
			<div class="row">
				<div class="col text-center" >
					<i class="ion ion-fireball"></i> Plats chaud
				</div>
				<div class="col text-center" >
					<i class="ion ion-ios-snowy"></i> Plats chaud
				</div>
			</div>
		</div>

	<ion-content  class="has-header has-subheader">
		<ion-refresher
	pulling-text="Tirer pour recharger..."
	on-refresh="doRefresh()">
</ion-refresher>


		<div class="row">
			<div class="col">

				<div class="card">
					<div ng-repeat="order in hotDishes" class="item item-text-wrap" ng-dblclick="hotDone(order.id)">
						<div class="item item-divider">
						{{order.count}} x	<span class="assertive">{{ order.category.name }}</span> - {{ order.product.productName }}
						<h2 class="pull-right">T-{{ order.turnover.tableId }}</h2>
						</div>
	<h2 class="assertive padding-left padding-top" ng-if="order.orderAttributions">Options: </h2>
	<div class="row">
		<div ng-repeat="oa in order.orderAttributions" class="col">
			<span>{{ oa.attribution.attributionName }}</span>
		</div>
	</div>
					</div>
				</div>
			</div>
			<div class="col">

				<div class="card">
					<div ng-repeat="order in coldDishes" class="item item-text-wrap"  ng-dblclick="coldDone(order.id)">
						<div class="item item-divider">
						{{order.count}} x	<span class="assertive">{{ order.category.name }}</span> - {{ order.product.productName }}
						<h2 class="pull-right">T-{{ order.turnover.tableId }}</h2>
						</div>

						<h2 class="assertive padding-left padding-top" ng-if="order.orderAttributions">Options: </h2>
						<div class="row">
							<div ng-repeat="oa in order.orderAttributions" class="col">
								<span>{{ oa.attribution.attributionName }}</span>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</ion-content>
</ion-view>
